<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="fadeIn fadeIn0">
    <ion-toolbar>
      <ion-title size="large">create a story</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="centered-container">
    <div class="card" href="write">
      <p>write</p>
      <img src="../../assets/images/create-write2.webp" />
    </div>
  
    <div class="card" href="paint" >
      <p>paint</p>
      <img src="../../assets/images/create-paint.webp" />
    </div>
  </div>

</ion-content>