ion-title {
    padding-top: 22px;
    font-size: 25px;
}


.uploadImage {
    border-radius: 5%;
}

.image-card {
    aspect-ratio: 1 / 1;
}

ion-card {
    margin-inline: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}