<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/create"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">paint a part of a story</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-grid>
      <ion-row  *ngFor="let row of [row1, row2, row3]">
        <ion-col *ngFor="let painting of row; let i = index" >
            <img class="image-card" *ngIf="painting" [src]="painting"/>

            <ion-card class="image-card uploadImage" *ngIf="!painting">
              <ion-icon name="add-circle-outline" 
              style="height: 50px;
              width: 50px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%)"></ion-icon>
            </ion-card >


        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-grid>



  <ion-button expand="block" (click)="addPart();">Contribute</ion-button>

</ion-content>