<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">create a part of a story</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-grid>
      <ion-row *ngFor="let row of [row1, row2, row3], let j = index">
        <ion-col *ngFor="let subpainting of row; let i = index">

          <img class="image-card" [ngStyle]="{'opacity': disabledOpacity}"
            *ngIf="subpainting.editable != true && subpainting.src != ''" [src]="subpainting.src" />

          <img class="image-card uploadImage" *ngIf="subpainting.editable == true && subpainting.src != ''"
            [src]="subpainting.src" (click)="triggerClick(i, j)" />

          <input type="file" id="input_file" accept="image/*" hidden (change)="onSelectFile($event)">
          <ion-card class="image-card uploadImage" (click)="triggerClick(i, j)" *ngIf="subpainting.src == ''">
            <ion-icon name="add-circle-outline" style="height: 50px;
              width: 50px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%)"></ion-icon>
          </ion-card>


        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-grid>

  <!-- DELETE THIS -->
  <img [src]="this.createdPost.src" />

</ion-content>



<ion-button expand="block" (click)="addPart();">Contribute</ion-button>