ion-col {
    /*  border: solid 1px #fff; 
    color: #fff;*/
    text-align: center;
}

ion-grid {
    padding: 0;
}

ion-col {
    padding: 0;
}

ion-card-header {
    padding: 8px;
}

ion-title {
    padding-top: 15px;
}

ion-card {
    margin-inline: 5px;
    margin-bottom: -15px;
}

ion-card-subtitle {
    text-transform: none;
    font-weight: normal;
    text-align: left;
}


ion-textarea {
    height:90%
}

ion-avatar {
    margin-left: 5px;
}


.fadeIn {
    animation: fadeIn 2s forwards;
    opacity: 0;

    &0 {
        animation-delay: 0.3s;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.uploadImage:hover {
    cursor: pointer;
}
