.card-content-ios {
    padding-bottom: 0px;

}

ion-title {
    padding-top: 15px;
}

.fadeIn {
    animation: fadeIn 2s forwards;
    opacity: 0;

    &0 {
        animation-delay: 0.3s;
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}