<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/info/info-panda"></ion-back-button>
    </ion-buttons>
    <ion-title>protect pandas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">protect pandas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <!-- column split dynamically -->
      <ion-col size="6" size-sm="4" size-lg="2" *ngFor="let column of [column1, column2]">

        <ion-card *ngFor="let image of column" expand="block" (click)="setModalData(true, image)">
          <img [src]="image.src" />
          <ion-card-header>
            <ion-card-subtitle> {{image.title}} </ion-card-subtitle>
          </ion-card-header>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-modal [isOpen]="isModalOpen">
    <ng-template>

      <ion-header>
        <ion-toolbar>
          <ion-title>{{currentImage.title}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <img [src]="currentImage.src" />
        <p> {{currentImage.text}} </p>

        <ion-chip style="--background: #8888883d" *ngFor="let comment of currentImage.comments">
          <ion-icon style="height: 30px; width: 30px;" name="paw"></ion-icon>
          <ion-text style="max-width: 90%;">
            {{comment}}
          </ion-text>
        </ion-chip>

      </ion-content>

      <ion-chip style="--background: #8888883d">
        <ion-chip style="width: 90%; height: 70%;">
          <ion-input placeholder="Write a comment!"></ion-input>
        </ion-chip>
        <ion-icon (click)="" style="height: 40px; width: 40px;" name="chevron-forward-circle"></ion-icon>
      </ion-chip>

    </ng-template>
  </ion-modal>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="camera" onclick=""></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="videocam"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>




</ion-content>