<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Pandas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">the gentle giants </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let info of infos">
    <img *ngIf="info.src != '' " [src]="info.src" />
    <ion-card-header>
      <ion-card-title>{{info.title}}</ion-card-title>
      <ion-card-subtitle>{{info.subtitle}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{info.text}}</p>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button href="contribute/contribute-panda">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>