<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title> Pandas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pandas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Preserving the Giant Panda</ion-card-title>
      <ion-card-subtitle>Endangered No More? The Panda's Struggle and Hope</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>Giant pandas, with their adorable black and white fur and love for bamboo, are iconic animals. However, these
        gentle giants were once classified as endangered. Habitat loss and poaching threatened their very existence. But
        thanks to dedicated conservation efforts, the story of the panda offers a glimmer of hope.</p>

      <h2>Threats to the Giant Panda</h2>
      <ul>
        <li>Habitat Loss: Forests are being cleared for agriculture and development, shrinking the panda's bamboo-filled
          home.</li>
        <li>Poaching: Sadly, pandas were once hunted for their pelts.</li>
      </ul>

      <h2>Protecting the Pandas</h2>
      <ul>
        <li>Reserves and Protected Areas: The Chinese government has established over 50 panda reserves, safeguarding
          panda habitat.</li>
        <li>Captive Breeding Programs: Zoos around the world participate in breeding programs to increase panda
          populations. </li>
        <li>Focus on Sustainability: Efforts are underway to reduce human impact on panda habitats and promote
          sustainable practices.</li>
      </ul>

      <p>The fight to save the giant panda is ongoing, but thanks to conservation efforts, their status has improved
        from endangered to vulnerable. We can all play a part in their continued survival by learning more about these
        amazing creatures and supporting conservation organizations.</p>

    </ion-card-content>
  </ion-card>
</ion-content>