<ion-fab vertical="center" class="ion-fab ion-fab1">
  <ion-fab-button color="dark" href="discover">
    <ion-icon name="book-outline"></ion-icon>
  </ion-fab-button>
  <p>
    discover
  </p>
</ion-fab>

<ion-fab vertical="center" class="ion-fab ion-fab2">
  <ion-fab-button color="dark" href="contribute">
    <ion-icon name="earth-outline"></ion-icon>
  </ion-fab-button>
  <p>
    share
  </p>
</ion-fab>


<ion-fab vertical="center" class="ion-fab ion-fab3">
  <ion-fab-button color="dark">
    <ion-icon name="paw-outline"></ion-icon>
  </ion-fab-button>
  <p>
    create
  </p>
</ion-fab>