ion-button {
    --color: #6b6b6b;
}
  

.card-content-ios {
    padding-bottom: 0px;
}


ion-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


ion-card-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
