
<div class="centered-container ">
  <ion-title size="large" class="fadeIn fadeIn0">EcoTales</ion-title>
</div>

<ion-fab vertical="center" class="fadeIn fadeIn1 button button1">
  <ion-fab-button color="dark" href="discover">
    <ion-icon name="book-outline"></ion-icon>
  </ion-fab-button>
  <p>
    discover
  </p>
</ion-fab>

<ion-fab vertical="center" class="fadeIn fadeIn2 button">
  <ion-fab-button color="dark" href="share">
    <ion-icon name="earth-outline"></ion-icon>
  </ion-fab-button>
  <p>
    share
  </p>
</ion-fab>


<ion-fab vertical="center" class="fadeIn fadeIn3 button button3">
  <ion-fab-button color="dark" href="create">
    <ion-icon name="paw-outline"></ion-icon>
  </ion-fab-button>
  <p>
    create
  </p>
</ion-fab>



